<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style>
			table, th, td {
				border:      1px solid black;
				font-family: consolas, sans-serif, arial;
			}

			table {
				border-collapse: collapse;
				padding:         0px;
			}

			th, td {
				padding: 0.2em;
			}

			th {
				text-align: center;
			}

			td {
				min-width:  8em;
				text-align: left;
			}

			tr:nth-child(even) {
				background-color: lightgray;
			}

			pre#title {
				text-align: left;
				font-size:  22px;
			}
		</style>
	</head>
	<body>
		<table id="list"></table>
	</body>
</html>
